body {
  font-family: "Poppins", sans-serif;
  margin: 30px;
}

.movie-list {
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-container {
  width: 340px;
}

/* .movie-container:hover {
  box-shadow: 0 0 15px black;
} */

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-poster {
  height: 500px;
  width: 340px;
  object-fit: cover;
  background-color: teal;
}

.movie-rating {
  font-size: 18px;
  font-weight: 400;
}

.movie-name {
  font-size: 24px;
}

.likes-dislikes {
  font-size: 20px;
}
.counter-container {
  display: flex;
  gap: 10px;
}
.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
